absl-py==2.1.0
alabaster==0.7.16
amqp==5.1.1
anyio==4.4.0
APScheduler==3.10.4
asgiref==3.8.1
astunparse==1.6.3
async-timeout==4.0.2
Babel==2.14.0
beautifulsoup4==4.11.1
billiard==3.6.4.0
blinker==1.6.2
build==1.2.1
cachetools==5.3.3
certifi==2024.6.15
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
Cython==0.29.34
dataclasses==0.6
decorator==5.1.1
defusedxml==0.7.1
Django==5.1.4
djangorestframework==3.15.0
Flask==2.3.2
Flask-Cors==3.2.0
Flask-SQLAlchemy==3.0.3
google-auth==2.18.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.1
h5py==3.8.0
html5lib==1.1
httpcore==0.18.2
httpx==0.24.0
idna==3.4
imageio==2.31.1
importlib-metadata==6.0.0
iniconfig==2.0.0
interact==0.3.6
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
networkx==3.1
numpy==1.25.2
oauthlib==3.2.2
opencv-python==4.8.0.76
packaging==23.1
pandas==2.0.4
pillow==10.1.0
pip==23.1.2
pluggy==1.0.0
prometheus-client==0.17.1
proto-plus==1.23.0
psutil==5.9.5
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.7.2
pyparsing==3.1.1
pytest==7.8.2
python-telegram-bot==21.4
requests==2.31.0
rsa==4.9
scikit-learn==1.3.1
scipy==1.11.3
six==1.16.0
SQLAlchemy==2.0.20
tensorflow==2.17.0
threadpoolctl==3.3.0
tomli==2.0.1
tornado==6.3.2
typing-extensions==4.7.1
urllib3==1.26.14
Werkzeug==2.3.5
wrapt==1.16.0
